@media (min-width: 575px) {
    body {
        background-image: url('img/fondoIyRcompu.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
      }
    .bienvenido{
        position: relative;
        margin-top: 125px;
    }
    .bienvenido span{
        font-family: "Roboto", bold;
        font-size: 75px;
        color: #123b2b;
    }
    .index .logo{
        margin-top: 225px;
    }
    .ior{
        position: relative;
        margin-top: 150px;
    }
    .ior span{
        font-family: "Roboto", bold;
        font-size: 30px;
        color: azul;
    }
}

@media (min-width: 991px) {
    .ior{
        position: relative;
        margin-top: 150px;
        
    }
    .ior span{
        font-family: "Roboto", bold;
        font-size: 50px;
        color: azul;
    }
}



@media (max-width: 575px) {
    body {
        background-image: url('img/fondoIyRcelu.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
    }
    .index .logo{
        margin-top: 20px;
    }
    .bienvenido{
        position: relative;
        margin-top: 50px;
    }
    
    .bienvenido span{
        font-family: "Roboto", bold;
        font-size: 50px;
        color: #123b2b;
    }

    .ior{
        position: relative;
        margin-top: 150px;
    }
    .ior span{
        font-family: "Roboto", bold;
        font-size: 50px;
        color: #123b2b;
    }
    
}
.iniciarOregistrar .btn-registrar a{
    font-size: 15px;
    background: linear-gradient(to right, #277254, #133829);
    color: #ffffff;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 50px;
    font-family: "Roboto", thick;
} 

.iniciarOregistrar .btn-iniciarSesion a{
    font-size: 15px;
    background: linear-gradient(to right, #f0b13c, #F0700B);
    color: #ffffff;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 50px;
    font-family: "Roboto", thick;
} 

.index{
    font-family: "Roboto", thick;
}


.index p{
    font-size: 15px;
}


.index .btn-iniciarSesion a{
    font-size: 15px;
    background: linear-gradient(to right, #f0b13c, #F0700B);
    color: #ffffff;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 50px;
    font-family: "Roboto", thick;

}

.index .btn-registrar a{
    font-size: 15px;
    background: linear-gradient(to right, #277254, #133829);
    color: #ffffff;
    text-decoration: none;
    padding: 10px 54px;
    border-radius: 50px;
    font-family: "Roboto", thick;

} 

.index .btn-iniciarSesion a:hover{
    background: linear-gradient(to right, #ffc353, #ff913c);
}

.index .btn-registrar a:hover{
    background: linear-gradient(to right, #3da87d, #17533b);

} 

/*REGISTRAR O INICIAR SESION*/
.iniciarOregistrar{
    font-family: "Roboto", thick;
}

.iniciarOregistrar .logo{
    margin-top: 125px;
}

.iniciarOregistrar span{
    font-size: 15px;
}

.iniciarOregistrar .form-registrarNaranja{
    border-radius: 50px;
    border: 3px solid #F0700B;
    background-color: white;
    outline: none;
    width: 400px;
}

.iniciarOregistrar .form-registrarVerde{
    border-radius: 50px;
    border: 3px solid #277254;
    background-color: white;
    outline: none;
    width: 400px;
}


.iniciarOregistrar .btn-registrar a:hover{
    background: linear-gradient(to right, #3da87d, #17533b);
} 

.iniciarOregistrar .btn-iniciarSesion a:hover{
    background: linear-gradient(to right, #ffc353, #ff913c);
} 